header {
    width: 100%;
    height: 480px;
    background: url(ME006301.jpg);
    background-size: cover;
    background-position: center;
}

.head_container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display:  inline-block;
    width:  150px;
    text-align: center;
    border-left: 2px dotted black;
}

.container {
    width: 800px;
    margin:  0px auto;
    display: flex;
}

.item01 {
    width: 70%;
}

.item01 h2 {
    text-align: center;
    border-bottom: 1px solid navy;
}

.item01 img {
    width: 99%;
}

.item02 {
    width: 22%;
}

.item02 h2 {
    font-size: 15px;
    text-align: center;

}

.item02 ul {
    list-style-type: none;
    padding-left: 0px;
}

.item02 li {
    border-bottom: 1px dotted black;
}

.article_item {
    display: flex;
}

.article_item {
    width: 47%;

}

.article_item img  {
     width: 99%; 
}

.article_item {
    text-align: center;
}

footer {
    width: 100%;
    background-color: chartreuse;
    margin: 0px;
    padding: 30px 0px;

}

footer h2 {
    text-align: center;
    font-size: 16px;
}